@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

html {
  font-size: 65.5%;  /* 10px (100% --> 16px) */
  overflow-y: overlay; 
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spectral', serif, 'Noto serif JP', serif;
  /* font-family: 'Noto Sans JP', sans-serif; */
  color: #263F5B;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 200,
  'opsz' 48;
  color: #E3B789;
}

body {
  height: 100%;
  width: 100%;
}

.mobile-off {
  display: inline;
}

.mobile-on{
  display: none;
}

.sns-link {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 50%;
  /* bottom: 0; */
  right: 10px;
  margin: 0;
  padding: 10px;
  list-style-type: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1000;
  /* background-color: #263F5B; */
  /* border-radius: 10px; */
  transition: 0.5s;
}

.sns-link-show {
  visibility: visible;
  opacity: 0.8;
  transition: 0.5s;
}

.sns-link .sns-item {
  position: relative;
  display: block;
  /* width: 60px;*/
  /* height: 40px;  */
  /* padding: 15px 5px; */
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 200%;
}

.sns-item a {
  color: rgba(255,255,255, 0.8);
}

.sns-item a:hover {
  color: white;
  transition: 0.5s;
}

footer {
  width: 100%;
  height: 20svh;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 4%;
  z-index: 10000;
  /* background-color: #263F5B; */
}

.sns-bar {
  font-size: 240%;
  margin-bottom: 1%;
}

.sns-bar a:hover {
  opacity: 0.8;
  transition: 0.5s;
}

footer p {
  font-size: 120%;
}

a, a:visited {
  text-decoration: none;
}

h1 {
  font-size: 350%;
  font-weight: 400;
}

h2 {
  font-size: 260%;
  font-weight: 400;
}

h3 {
  font-size: 160%;
  font-weight: 400;
}

p {
  font-size: 140%;
}

i {
  color: inherit;
}

img {
  max-width: 100%;
}

figure {
  margin-top: 2%;
  margin-bottom: 2%;
  width: auto;
  display: block;
  text-align:center;
}

figcaption{
	display: block;
	margin-top: 0.5em;
	font-size: 120%;
	text-align: center;
}

.fade {
	animation-name: fade;
	animation-duration: 2s;
}

.fade-in {
	opacity: 0;
  transition-delay: 0.5s;
	transition: 1s;
  z-index: 10000;
}

.fade-left {
	opacity: 0;
	transform: translateX(-50px);
  transition-delay: 0.5s;
	transition: 1s;
  z-index: 10000;
}

.fade-right {
	opacity: 0;
	transform: translateX(50px);
  animation-delay: 2s;
	transition: 1s;
  z-index: 10000;
}

.fade-up{
	opacity: 0;
	transform: translateY(50px);
	transition: 1s;
  z-index: 10000;
}

@keyframes fade{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

/* Buttons */
/* ref: https://dubdesign.net/download/html-css/button-design/ */
/* 003 */
.button003 {
  margin-top: 3%;
  margin-bottom: 3%;
}

.button003 a {
  background: #eee;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 260px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-size: 160%;
  font-weight: 500;
}
.button003 a:hover {
  background: #313131;
  color: #FFF;
}
.button003 a:after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #313131;
  border-right: 3px solid #313131;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 20px;
  border-radius: 1px;
  transition: 0.3s ease-in-out;
}
.button003 a:hover:after {
  border-color: #FFF;
}

/* 006 */
.button006 a {
  background: #809EC7;
  position: relative;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  /* margin: 0 auto; */
  max-width: 120px;
  padding: 5px 15px;
  /* color: white; */
  transition: 0.3s ease-in-out;
  font-size: 160%;
  /* font-weight: 500; */
  border-radius: 50px;
}
.button006 a:before {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  right: -1em;
  transform: translateY(calc(-50% - 2px)) rotate(30deg);
  width: 12px;
  height: 2px;
  background-color: #809EC7;
  transition: 0.3s;
}
.button006 a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -1em;
  transform: translateY(-50%);
  width: 40px;
  height: 2px;
  background-color: #809EC7;
  transition: 0.3s;
}
.button006 a:hover:before, .button006 a:hover:after {
  right: -1.5em;
}
.button006 a:hover {
  background: #4C6E9E;
  color: white;
  /* color: #6bb6ff; */
}

/* header */
header {
  height: 100svh;
  max-width: 100vw;
  margin: 0 auto;
}

#hero-contents {
  margin-left: auto;
  margin-right: 0;
  height: 100%;
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#hero-contents a, a:visited {
	text-decoration: none;
  color: #263F5B;
  position: relative;
  display: inline-block;
}

#hero-contents a::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #263F5B;
  bottom: -3px;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}
  
#hero-contents a:hover::after {
  transform: scale(1, 1);
}

#hero-contents h3 {
  letter-spacing: 1px;
}

#hero-contents h1 {
  letter-spacing: 2px;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* Navigation */
#global-nav {
  width: 100%;
  height: 10%;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 4%;
  z-index: 10000;
}

#global-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 0;
  font-size: 140%;
}

#global-nav ul li {
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  padding: 0 20px;
}

.menu-pc a {
  font-weight: 600;
  color: #263F5B;
  position: relative;
  display: inline-block;
}

.manu-pc a::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #263F5B;
  bottom: -3px;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}
  
.manu-pc a:hover::after {
  transform: scale(1, 1);
}

#global-nav a:hover, a:active, a:focus {
  color: #263F5B;
}

.nav_fixed {
  left: 0;
  top: 0;
  height: 30px;
  position: fixed;
  background-color: white;
  box-sizing: border-box;
  opacity: 0.8;
}

.nav_fixed a::after {
  background: black;
}

.menu-mobile {
  display: none;
}

#global-nav.nav_fixed a:hover,a:active {
  color: black;
}

a.nav-link.current-position {
  color: black;
}

a.nav-link.current-position::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: black;
  bottom: -3px;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
  transform: scale(1, 1);
}

/* Main contents */

main {
  width: 100vw;
  /* margin-left: auto;
  margin-right: auto; */
}

main h1 {
  margin-bottom: 2%;
  text-align: center;
}

main p {
  /* font-size: 160%; */
  line-height: 130%;
  text-align: justify;
  /* margin: 5px 0; */
}

#live, #works, #bio, #lesson {
  min-height: 100lvh;
  padding-top: 10lvh;
  padding-left: 5%;
  padding-right: 5%;
}

.container {
  max-width: 960px;
  display: flex;
  align-items:center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* Live */
#live .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

#live h1, #live h2, #live h3, #live p, #live a {
  color: white;
}

#live a, a:visited {
	text-decoration: none;
  color: white;
  position: relative;
  display: inline-block;
}

#live a::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: white;
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}

#live a:hover::after {
  transform: scale(1, 1);
}

.live-item {
  width: 100%;
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
}

.live-date {
  width: 120px;
  height: 80px;
  background-color:rgba(128,158,199, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* margin-right: 20px; */
  text-align: center;
}

.live-info {
  margin-top: 30px;
  margin-left: 5%;
  width: 40%;
}

.live-item img {
  margin-top: 30px;
  margin-left: 5%;
  width: 30%;
}

/* Works */
#works {
  background-color: #263F5B;
}

#works .container {
  flex-direction: column;
  color: white;
}

#works h1 {
  color: white;
  margin-bottom: 5%;
}

.works-item {
  display: flex;
  align-items: top;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.works-item img {
  max-width: 40%;
  height: auto;
}

.works-item-info {
  width: 50%;
}

.works-item-info h2, .works-item-info h3, .works-item-info p {
  color: white;
}

ol.works-numbers {
  padding-left: 14px;
}

ul.works-credit {
  list-style-type: none;
}

.works-item li {
  color: white;
  font-size: 140%;
}

.works-item-link {
  display: flex;
}

.works-item-link .button006 {
  width: 30%;
  margin-right: 10%;
}

/* Biography */
#bio .container {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.bio-en, .bio-ja {
  width: 40%;
}

#bio p {
  margin-bottom: 10px;
}

/* Lesson */
#lesson {
  background-color: #263F5B;
}

#lesson .container {
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.lesson-item {
  width: 30%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#lesson h1, .lesson-item h2, .lesson-item p {
  color: white;
}

.lesson-item h2 {
  font-size: 180%;
  text-align: center;
}

.lesson-item p {
  width: 100%;
}

/* Contact */
#contact {
  min-height: 80svh;
  padding-top: 10svh;
  padding-left: 10%;
  padding-right: 10%;
}

.c-form {
	max-width: 50%;
	margin: 0 auto;
}
.c-form__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 20px;
}
.c-form__label,
.c-form__input {
	padding: 10px;
}
.c-form__label {
	width: 90%;
  font-size: 160%;
  text-align: right;
}
.c-form__input {
	width: 90%;
	font-size: 160%;
	border: solid 1px #333;
	border-radius: 4px;
}
.c-form__input:focus-visible {
	outline: #263F5B auto 1px;
}
.c-form__required {
	color: #fff;
	background-color: #263F5B;
	border-radius: 4px;
	padding: 5px 5px;
	margin: 0 0 0 18px;
}
textarea.c-form__input {
	height: 160px;
}
.c-form__submit {
	text-align: center;
}
.c-form__submit button {
	font-size: 180%;
	font-weight: bold;
	color: #fff;
	background-color: #263F5B;
	border: solid 1px #263F5B;
	border-radius: 10px;
	padding: 5px 32px;
	transition: 0.4s;
	cursor: pointer;
}
.c-form__submit button:hover {
	color: #263F5B;
	background-color: transparent;
}

@media (min-width: 600px) {
  .c-form__item {
		flex-wrap: nowrap;
	}

  .c-form__label {
    width: 40%;
  }

	.c-form__input {
		width: 55%;
	}
}

/* Background */
.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
}

.cd-fixed-bg.bg-hero {
  background-image: linear-gradient(to left, transparent 0%, transparent 90%, #fff 100%), linear-gradient(to right, transparent 0%, transparent 90%, #fff 100%), linear-gradient(to bottom, transparent 0%, transparent 90%, #fff 100%), url(./images/background/hero.webp);
  background-position: top;
  background-size: 1200px;
}

.cd-fixed-bg.bg-live {
  background-image: linear-gradient(to right,black 50%, transparent 70%, black 100%), url(./images/background/live.webp);
  background-position: right bottom;
  background-size: cover;
}

.cd-fixed-bg.bg-bio {
  background-image: url(./images/background/bio.webp);
  background-position: center bottom;
  background-size: cover;
} 

.cd-fixed-bg.bg-lesson {
  background-image: url(./images/background/lesson.webp);
  background-size: cover;
  background-position: top;
} 

/* mobile */
@media screen and (max-width: 600px) {

  body {
    overflow: hidden;
  }

  .mobile-off {
    display: none;
  }

  .mobile-on{
    display: inline;
  }

  /* header */
  #hero-contents {
    width: auto;
    padding-top: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #hero-contents h1 {
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  /* Main */
  #live, #works, #bio, #lesson {
    padding-top: 5svh;
  }

  /* Live */
  #live .container {
    align-items: center;
    width: 100%;
    color: white;
  }

  .live-item {
    flex-direction: column;
  }

  .live-info {
    width: 90%;
    margin-top: 0;
  }

  .live-item img {
    width: 90%;
    margin-top: 0;
  }

  .live-date {
    width: 40%;
    height: 40px;
  }

  /* Works */
  .works-item {
    flex-direction: column;
    align-items: center;
  }

  .works-item img {
    max-width: 80%;
    height: auto;
  }
  
  .works-item-info {
    margin-top: 10%;
    width: 80%;
  }

  .works-item-link {
    justify-content: space-evenly;
  }

  /* Biography */
  #bio .container {
    flex-direction: column;
  }
  
  .bio-en, .bio-ja {
    width: 100%;
    height: 100svh;
    margin-bottom: 10%;
    /* font-size: 120%; */
  }

  /* Lesson */
  #lesson {
    padding-bottom: 5svh;
  }

  #lesson .container {
    justify-content: space-evenly;
  }

  .lesson-item {
    width: 90%;
  }

  /* Contact */
  #contact {
    padding-top: 5svh;
  }

  .c-form {
    max-width: 100%;
  }

  .c-form__label {
    width: 90%;
    font-size: 160%;
    text-align: left;
  }



  /* Background */
  .cd-fixed-bg.bg-hero {
    background-image: url(./images/background/hero-mobile.webp);
    background-position: center bottom;
    background-size: cover;
  }

  .cd-fixed-bg.bg-live {
    background-image: url(./images/background/live-mobile.webp);
    background-position: right bottom;
  }

  .cd-fixed-bg.bg-live::before {
    content: '';
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .cd-fixed-bg.bg-bio::before {
    content: '';
    background-color: rgba(255,255,255,0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}